# Node
node_modules/
dist/
build/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Tests
coverage/
*.lcov

# Caches
.temp/
.tmp/
.cache/

# App specific
uploads/
storage/
data/

# TypeScript
*.tsbuildinfo